@media only screen and (min-device-width: 1130px){

    .principal{
        padding: 0rem 0rem;
    }
    
    .menu ul{
        gap: 2rem;
    }

    .menu li{
        transition: 0.5s;
    }

    .menu li:hover{
        scale: 1.2;
    }

    .principal{
        margin: 3rem 6rem;
    }

    .titulo{
        padding-right: 10rem ;
        font-size: 3rem;
    }
}